  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Navigation </div>
      <div class="list-group list-group-flush">
        <a [routerLink]="['/']" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a [routerLink]="['/admin/schools']" class="list-group-item list-group-item-action bg-light">Schools</a>
        <a [routerLink]="['/admin/courses']" class="list-group-item list-group-item-action bg-light">Courses</a>
        <a [routerLink]="['/admin/course-schedule']" class="list-group-item list-group-item-action bg-light">Course Schedule</a>
        <a [routerLink]="['/admin/customers']" class="list-group-item list-group-item-action bg-light">Customers</a>
        <a [routerLink]="['/admin/billing']" class="list-group-item list-group-item-action bg-light">Billing</a>
        <a [routerLink]="['/admin']" class="list-group-item list-group-item-action bg-light">Status</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->