<div class="form-row">
  <div class="col">
    <div class="form-group">
      <label for="name" [formGroup]="parentForm">Address
        <input type="text" class="form-control" [formControlName]="'address'" name="address">
      </label>
      <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
        Address is required
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="city" [formGroup]="parentForm">Town/City
        <input type="text" class="form-control" [formControlName]="'city'" name="city">
      </label>
      <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
        City is required
      </div>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="col">
    <div class="form-group">
      <label for="description" [formGroup]="parentForm">State
        <input type="text" class="form-control" [formControlName]="'state'" name="state">
      </label>
      <div [hidden]="state.valid || state.pristine" class="alert alert-danger">
        State is required
      </div>
    </div>

  </div>
  <div class="col">
    <div class="form-group">
      <label for="description" [formGroup]="parentForm">Postcode
        <input type="number" class="form-control" [formControlName]="'postcode'" name="postcode">
      </label>
      <div [hidden]="postcode.valid || postcode.pristine" class="alert alert-danger">
        Postcode is required
      </div>
    </div>
  </div>
</div>