
<nav-bar></nav-bar>
<div class="d-flex" id="wrapper">
  <side-menu></side-menu>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->