
    <div class="card">
      <div class="card-header">
        <h2>
          Courses Availables
        </h2>
      </div>
      <div class="card-body">

        <div class="row p-1 border">
          <div class="col-3 p-0 text-center">
            <p class="font-weight-bold">#</p>
          </div>
          <div class="col-3 p-0 text-center">
            Name
          </div>
          <div class="col-3 p-0 text-center">
            School
          </div>
          <div class="col-3 p-0 text-center">
            Options
          </div>
        </div>
        <div *ngFor="let course of courses; index as i">
          <div class="row p-1 border">
            <div class="col-3 p-0 text-center">
              {{ i + 1 }}
            </div>
            <div class="col-3 p-0 text-center">
              {{ course.name  }}
            </div>
            <div class="col-3 p-0 text-center">
              {{ course.school.name  }}
            </div>
            <div class="col-3 p-0 text-center">
              <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-sm btn-danger">Disable</button>
              </div>
              <button type="button" class="btn btn-sm btn-secondary" (click)="details(i)">Details</button>
            </div>
          </div>
          <div [ngbCollapse]="!collapse[i]">
            <div class="card">
              <div class="card-body hidden-line">
                Details about course
                {{course.school.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="card mt-5">
      <div class="card-header">
        <h2>Register</h2>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="courseForm">
          <div class="form-group">
            <label for="course_name">Course Name*</label>
            <input type="text" class="form-control" formControlName="course_name" required name="course_name">
            <div [hidden]="course_name.valid || course_name.pristine" class="alert alert-danger">
              Name is required
            </div>
          </div>

          <div class="form-group">
            <label for="price">Price*</label>
            <input type="number" step=".1" class="form-control" formControlName="price" required name="price">
            <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
              Price is required
            </div>
          </div>

          <div class="form-group">
            <label for="school_id">School*</label>
            <select class="form-control" required formControlName="school_id">
              <option *ngFor="let school of schools" [value]="school.id">{{school.name}}</option>
            </select>
            <div [hidden]="school_id.valid || school_id.pristine" class="alert alert-danger">
              Choose the school
            </div>
          </div>

          <div class="form-group">
            <label for="course_name">Description</label>
            <input type="text" class="form-control" formControlName="description" name="description">
          </div>

          <button type="submit" class="btn btn-success" [disabled]="!courseForm.valid">Save</button>
          <button type="button" class="btn btn-default" (click)="courseForm.reset()">Reset</button>
        </form>
      </div>
    </div>