<div class="card">
  <div class="card-header">
    <h2>
      Schedules Availables
    </h2>
  </div>
  <div class="card-body">

    <div class="row p-1 border">
      <div class="col-1 p-0 text-center">
        <p class="font-weight-bold">#</p>
      </div>
      <div class="col-2 p-0 text-center">
        Course Name
      </div>
      <div class="col-1 p-0 text-center">
        Price
      </div>
      <div class="col-3 p-0 text-center">
        Start Time
      </div>
      <div class="col-3 p-0 text-center">
        End Time
      </div>
      <div class="col-2 p-0 text-center">
        Options
      </div>
    </div>
    <div *ngFor="let schedule of schedules | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; index as i">

      <div class="row p-1 border">
        <div class="col-1 p-0 text-center">
          {{ schedule.id + 1 }}
        </div>
        <div class="col-2 p-0 text-center">
          {{ schedule.course.name  }}
        </div>
        <div class="col-1 p-0 text-center">
          {{ schedule.course.price | currency }}
        </div>
        <div class="col-3 p-0 text-center">
          {{ schedule.start_time | date:'dd/MM/yyyy h:mm a' }}
        </div>
        <div class="col-3 p-0 text-center">
          {{ schedule.end_time | date:'dd/MM/yyyy h:mm a' }}
        </div>
        <div class="col-2 p-0 text-center">
          <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-sm btn-danger">Disable</button>
          </div>
          <button type="button" class="btn btn-sm btn-secondary" (click)="details(i)">Details</button>
        </div>
      </div>
      <div [ngbCollapse]="!collapse[i]">
        <div class="card">
          <div class="card-body hidden-line">
            Details about course
            {{schedule.start_time}}
          </div>
        </div>
      </div>
    </div>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="schedules.length"></ngb-pagination>
  </div>
</div>



<div class="card mt-5">
  <div class="card-header">
    <h2>Register</h2>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="courseScheduleForm">
      <div class="form-group">
        <label for="course_id">Course*</label>
        <select class="form-control" required formControlName="course_id">
          <option *ngFor="let course of courses" [value]="course.id">{{course.name}} - {{course.school.name}}</option>
        </select>
        <div [hidden]="course_id.valid || course_id.pristine" class="alert alert-danger">
          Choose the Course
        </div>
      </div>

      <div class="form-group">
        <label for="start_time">Start Time*</label>
        <angular2-date-picker formControlName="start_time" [(ngModel)]="date" [settings]="settings">
        </angular2-date-picker>
        <div [hidden]="start_time.valid || start_time.pristine" class="alert alert-danger">
          Start time is required
        </div>
      </div>

      <div class="form-group">
        <label for="end_time">End Time*</label>
        <angular2-date-picker formControlName="end_time" [(ngModel)]="date1" [settings]="settings">
        </angular2-date-picker>

        <div [hidden]="end_time.valid || end_time.pristine" class="alert alert-danger">
          End time is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!courseScheduleForm.valid">Save</button>
      <button type="button" class="btn btn-default" (click)="courseScheduleForm.reset()">Reset</button>
    </form>
  </div>
</div>