<div class="card">
  <div class="card-header">
    <h2>
      Schools
    </h2>
  </div>
  <div class="card-body">
    <div class="row p-1 border">
      <div class="col-3 p-0 text-center">
        <p class="font-weight-bold">#</p>
      </div>
      <div class="col-3 p-0 text-center">
        Name
      </div>
      <div class="col-3 p-0 text-center">
        Phone
      </div>
      <div class="col-3 p-0 text-center">
        Options
      </div>
    </div>
    <div *ngFor="let school of schools; index as i">
      <div class="row p-1 border">
        <div class="col-3 p-0 text-center">
          {{ i + 1 }}
        </div>
        <div class="col-3 p-0 text-center">
          {{ school.name  }}
        </div>
        <div class="col-3 p-0 text-center">
          {{ school.phone  }}
        </div>
        <div class="col-3 p-0 text-center">
          <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-sm btn-danger">Disable</button>
          </div>
          <button type="button" class="btn btn-sm btn-secondary" (click)="details(i)">Details</button>
        </div>

      </div>
      <div [ngbCollapse]="!collapse[i]">
        <div class="card hidden-line">
          <div class="card-body">
            Address:
            {{school.address.address}}
            {{school.address.city}}
            {{school.address.state}}
            {{school.address.postcode}}

            <p>
              Contact:
              {{school.phone}}
              {{school.email}}
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      <h2>Register</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="schoolForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" name="name">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" formControlName="phone" name="phone">
          <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
            Phone is required
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" name="email">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Email is required
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" formControlName="description" name="description">
        </div>
        <address-form [parentForm]="schoolForm"></address-form>

        <button type="submit" class="btn btn-success" [disabled]="!schoolForm.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="schoolForm.reset()">Reset</button>
      </form>
    </div>
  </div>
</div>